body{
    font-family: 'Roboto';
    font-size: 16px;
    color: black;
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6,p{
    margin-top: 0;
    margin-bottom: 0;
}
.container{
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  
    margin-left: auto;
    margin-right: auto;
    outline: 2px solid tomato;
}
.list{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
.title{
    font-family: 'Roboto';
    font-style: normal;
}
:root {
    --logo-web-color: #4D5AE5;
    --header-menu-link: #2E2F42;
    --header-menu-addres: #434455;
    --title-def-color: #2E2F42;
}
.logo{
    text-decoration:none;
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:black;
}
.header-logo{
    margin-right: 77px;
}
.logo-web{
    color: var(--logo-web-color);
}
.header-menu-items , .header-address-items ,
 .our-features-section-items, .what-are-items,
 .our-team-section-items,.filer-items ,
 .cards-content-item{
    list-style-type: none;
} 

.header-menu-items{
    display: flex;
}
.header-menu-link{
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--header-menu-link);
     text-decoration:none;
    font-family: 'Roboto';
     font-style: normal;
     line-height: 1.5;
}
.main-nav{
    display: flex;
    align-items: center;
}
.header-menu-item{
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
}
.header-menu-items .header-menu-item + .header-menu-item {
    margin-left: 40px;
}
.header-addres-link{
    letter-spacing: 0.02em;
    color: var( --header-menu-addres);
    text-decoration:none;
    font-family: 'Roboto';
     font-style: normal;
     line-height: 1.5;
     font-weight: 400;
    }
.header-address-items .header-addres-item + .header-addres-item{
    margin-left: 40px;
}
.header-address-items{
    display: flex;
}
.header-addres-nav {
    margin-left: auto;
}
.effective-solution-section{
    text-align: center;
    background-color:var(--title-def-color);
    padding-top: 188px;
    padding-bottom: 188px;
}
.effective-solution-section-title{
    color:white;
    font-size: 56px;
    line-height: 1.12;
    margin-left: auto;
    margin-right: auto;
    max-width: 494px;
}
.effective-solution-button{
    outline: none;
    border: 0;
    cursor: pointer;
    font-family: 'Roboto';
    font-weight: 500;
    background:  var(--logo-web-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    padding: 16px 32px;
    border-radius: 4px;
    color:white;
    letter-spacing: 0.04em;
    line-height: 1.5;
    margin-top: 48px;
}
.our-team-section-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    margin-bottom: 72px;
}
.our-features-section-items{
    display: flex;
}

.our-features-section{
    padding-top: 120px;
}

.our-fetures-item{
    width: calc((100% - 72px)/4);
    margin-right: 24px;
}
.our-fetures-item:nth-child(4n){
    margin-right: 0;
}
.our-features-item-title{
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}
.our-features-item-p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    
    color: #434455;
}

.our-features-section--title{
    margin-bottom: 120px;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-def-color);
}
.what-are--title{
    text-align: center;
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--title-def-color);
}
.what-are-items{
    display: flex;
}
.what-are-item{
    width: calc((100% - 48px)/3);
    margin-right: 24px;
}

.what-are-item:nth-child(3n){
    margin-right: 0;
}
.our-team-section-items-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-def-color);
}
.our-team-cart-txt{
    text-align: center;
    padding: 32px 16px 32px 16px;
    background-color:#FFFFFF;
}
.our-team-section-item{
    width: calc((100% - 72px)/4);
    margin-right: 24px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}
.our-team-section-item:nth-child(4n){
    margin-right: 0;
}
.our-team-section-img{
    display: block;
    width: 100%;
}
.what-are-we-doing-section {
    padding-bottom: 120px;
    padding-top: 120px;
}
.our-team-section-items{
    display: flex;
}

.our-team-section{
    background:#F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}
.our-team-section-items-p{
    letter-spacing: 0.02em;
    color: #434455;
    margin-top: 8px;
    font-weight: 400;
    line-height: 1.5;
}
.footer{
    background-color:var(--title-def-color);
    padding-top: 100px;
    padding-bottom: 100px;
}
.footer-p{
    letter-spacing: 0.02em;
    color: #E7E9FC;
    margin-top: 16px;
    width: calc((100% - 96px)/4);
    line-height: 1.5;
    font-weight: 400;
}
.filter-item-all{
    background: #404BBF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    padding: 12px 24px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    width: 69px;
    height: 48px;
    font-family: 'Roboto';
    line-height: 1.5;
    cursor: pointer;
    border:none;
}
.filter-item{
    font-family: 'Roboto';
    background: #F4F4FD;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    padding: 12px 24px;
    letter-spacing: 0.04em;
    color:  var(--logo-web-color);
    line-height: 1.5;
    cursor: pointer;
}
.cards-cont-title{
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--title-def-color);
}
.cards-cont-p{
    line-height: 24px;
    letter-spacing: 0.02em;
    color:#434455;
    margin-top: 8px;
}
.filter-section{
    padding-top: 96px;
    padding-bottom: 120px;
}
.filer-items{
    text-align: center;
    list-style: none;
    margin-bottom: 72px;
}
.filter-item-li{
    display: inline-block;
}
.filer-items .filter-item-li + .filter-item-li{
    margin-left: 24px;
}
.cards-content-item{
    margin-top: 48px;
    display: flex;
    width: calc((100% - 48px)/3);
}
.cards-content-items .cards-content-item:first-child{
    margin-top: 0;
}
.cards-cart-item{
    margin-right: 24px;
    display: inline-block;
    border: 1px solid #E7E9FC;

}
.cards-cart-item:last-child{
    margin-right: 0;
}   
.cards-content-under{
    padding: 32px 16px;
}
.footer-logo{
   display: inline-block;
   color:#F4F4FD;
}
.menu-portfolio{
    border-bottom: 1px solid #E7E9FC;
}